
.header {
    background: rgb(6,162,56);
background: linear-gradient(90deg, rgba(6,162,56,1) 0%, rgba(57,146,240,1) 0%, rgba(9,9,65,1) 77%);
}

#current-weather {
    color:rgba(9,9,65,1);
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}